body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(44, 139, 44);
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.score{
    width: 512px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.snakegreen{
    color: rgb(44, 139, 44);
    text-align: center;
}

.snakeorange{
    color: orange;
    text-align: center;
}
